<section id="service"
  class="wow fadeIn">
  <div class="container">
    <div class="row w-100 mx-0 align-items-start">
      <div class="col-md-6 wow fadeInLeft order-1 order-md-0">
        <h2 class="text-primary fw-bolder">{{'SERVICES.CONTENT.CREATION' | translate}}
        </h2>
        <p class="">{{'SERVICES.CONTENT.CREATION_BODY' | translate}}</p>
        <h4>{{'SERVICES.CONTENT.MAIN_STRATEGY' | translate}}</h4>
        <p>{{'SERVICES.CONTENT.MAIN_STRATEGY_BODY' | translate}}</p>
        <h4>{{'SERVICES.CONTENT.MESSAGING' | translate}}</h4>
        <p>{{'SERVICES.CONTENT.MESSAGING_BODY' | translate}}</p>
        <h4>{{'SERVICES.CONTENT.CREATIVE' | translate}}</h4>
        <p>{{'SERVICES.CONTENT.CREATIVE_BODY' | translate}}</p>
        <ul>
          <li><span>{{'SERVICES.CONTENT.CREATIVE_STEPS.STEP1' | translate}}</span></li>
          <li><span>{{'SERVICES.CONTENT.CREATIVE_STEPS.STEP2' | translate}}</span></li>
          <li><span>{{'SERVICES.CONTENT.CREATIVE_STEPS.STEP3' | translate}}</span></li>
          <li><span>{{'SERVICES.CONTENT.CREATIVE_STEPS.STEP4' | translate}}</span></li>
          <li><span>{{'SERVICES.CONTENT.CREATIVE_STEPS.STEP5' | translate}}</span></li>
          <li><span>{{'SERVICES.CONTENT.CREATIVE_STEPS.STEP6' | translate}}</span></li>
          <li><span>{{'SERVICES.CONTENT.CREATIVE_STEPS.STEP7' | translate}}</span></li>
          <li><span>{{'SERVICES.CONTENT.CREATIVE_STEPS.STEP8' | translate}}</span></li>
        </ul>
        <h4>{{'SERVICES.CONTENT.SOCIAL' | translate}}</h4>
        <p>{{'SERVICES.CONTENT.SOCIAL_BODY' | translate}}</p>
      </div>
      <div class="col-md-6 wow fadeInRight d-flex justify-content-end order-0 order-md-1">
        <img src="./assets/images/common/service-content.svg"
          alt="">
      </div>
    </div>
  </div>
</section>
