<section id="service"
  class="wow fadeIn">
  <div class="container">
    <div class="row w-100 mx-0 align-items-start">
      <div class="col-md-6 wow fadeInLeft order-1 order-md-0">
        <h2 class="text-primary fw-bolder">{{'SERVICES.TECHNOLOGY.DEVELOPMENT' | translate}}
        </h2>
        <p class="">{{'SERVICES.TECHNOLOGY.DEVELOPMENT_BODY' | translate}}</p>
        <h4>{{'SERVICES.TECHNOLOGY.UIUX' | translate}}</h4>
        <p>{{'SERVICES.TECHNOLOGY.UIUX_BODY' | translate}}</p>
        <h4>{{'SERVICES.TECHNOLOGY.WEB' | translate}}</h4>
        <p>{{'SERVICES.TECHNOLOGY.WEB_BODY' | translate}}</p>
        <h4>{{'SERVICES.TECHNOLOGY.PORTALS' | translate}}</h4>
        <p>{{'SERVICES.TECHNOLOGY.PORTALS_BODY' | translate}}</p>
        <h4>{{'SERVICES.TECHNOLOGY.PUBLICATIONS' | translate}}</h4>
        <p>{{'SERVICES.TECHNOLOGY.PUBLICATIONS_BODY' | translate}}</p>
        <h4>{{'SERVICES.TECHNOLOGY.APPLICATION' | translate}}</h4>
        <p>{{'SERVICES.TECHNOLOGY.APPLICATION_BODY' | translate}}</p>
        <h4>{{'SERVICES.TECHNOLOGY.MOBILE' | translate}}</h4>
        <p>{{'SERVICES.TECHNOLOGY.MOBILE_BODY' | translate}}</p>
        <h4>{{'SERVICES.TECHNOLOGY.TOOLS' | translate}}</h4>
        <p>{{'SERVICES.TECHNOLOGY.TOOLS_BODY' | translate}}</p>
      </div>
      <div class="col-md-6 wow fadeInRight d-flex justify-content-end order-0 order-md-1">
        <img src="./assets/images/common/service-technology.svg"
          alt="">
      </div>
    </div>
  </div>
</section>
