<section id="service"
  class="wow fadeIn">
  <div class="container">
    <div class="row w-100 mx-0 align-items-start">
      <div class="col-md-6 wow fadeInLeft order-1 order-md-0">
        <h2 class="text-primary fw-bolder">{{'SERVICES.BRANDS.BRAND_BUILDING' | translate}}
        </h2>
        <p class="">{{'SERVICES.BRANDS.BRAND_BUILDING_BODY' | translate}}</p>
        <h4>{{'SERVICES.BRANDS.STRATEGY' | translate}}</h4>
        <p>{{'SERVICES.BRANDS.STRATEGY_BODY' | translate}}</p>
        <h4>{{'SERVICES.BRANDS.POSITIONING' | translate}}</h4>
        <p>{{'SERVICES.BRANDS.POSITIONING_BODY' | translate}}</p>
        <h4>{{'SERVICES.BRANDS.vISUAL' | translate}}</h4>
        <p>{{'SERVICES.BRANDS.VISUAL_BODY' | translate}}</p>
        <h4>{{'SERVICES.BRANDS.MARKET' | translate}}</h4>
        <p>{{'SERVICES.BRANDS.MARKET_BODY' | translate}}</p>
      </div>
      <div class="col-md-6 wow fadeInRight d-flex justify-content-end order-0 order-md-1">
        <img src="./assets/images/common/service-brand.svg"
          alt="">
      </div>
    </div>
  </div>
</section>
