<div class="services-wrapper-content">
  <section id="content"
    class="wow fadeIn">
    <div class="container">
      <div class="row mx-auto w-100">
        <div class="col-md-6 wow fadeInLeft">
          <img src="./assets/images/common/content.svg"
            alt="content"
            class="main-img">
        </div>
        <div class="col-md-6 wow fadeInRight">
          <div class="service-info">
            <img src="./assets/images/icons/content.svg"
              alt="content">
            <h3>{{'SERVICES.CONTENT.CREATION' | translate }}
            </h3>
            <p class="col-md-9">{{'HOME_SERVICE_CONTENT.CONTENT_BODY' | translate }}
            </p>
            <ul>
              <li><span>{{'HOME_SERVICE_CONTENT.STEPS.STEP1' | translate }}</span></li>
              <li><span>{{'HOME_SERVICE_CONTENT.STEPS.STEP2' | translate }}</span></li>
              <li><span>{{'HOME_SERVICE_CONTENT.STEPS.STEP3' | translate}}</span></li>
              <li><span>{{'HOME_SERVICE_CONTENT.STEPS.STEP4' | translate}}</span></li>
            </ul>
            <button class="btn"
              routerLink="/services/content">{{'HERO.BUTTON' | translate}}</button>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>
