<div class="services-wrapper-reporting">
  <section id="reporting"
    class="wow fadeIn">
    <div class="container">
      <div class="row mx-auto w-100">
        <div class="col-md-6 wow fadeInLeft">
          <img src="
          ./assets/images/common/reporting.svg"
            alt="reporting"
            class="main-img">
        </div>
        <div class="col-md-6 wow fadeInRight">
          <div class="
          service-info">
            <img src="./assets/images/icons/reporting.svg"
              alt="reporting">
            <h3>{{'SERVICES.REPORTING.ANALYSIS' | translate}}
            </h3>
            <p class="col-md-9">{{'SERVICES.REPORTING.ANALYSIS_BODY' | translate}}
            </p>
            <ul>
              <li><span>{{'SERVICES.REPORTING.BUSINESS' | translate}}</span></li>
              <li><span>{{'SERVICES.REPORTING.MEDIA' | translate}}</span></li>
              <li><span>{{'SERVICES.REPORTING.NEWS' | translate}}</span></li>
            </ul>
            <button class="btn"
              routerLink="/services/reporting">{{'HERO.BUTTON' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
