<section id="service"
  class="wow fadeIn">
  <div class="container">
    <div class="row w-100 mx-0 align-items-start">
      <div class="col-md-6 wow fadeInLeft order-1 order-md-0">
        <h2 class="text-primary fw-bolder">{{'SERVICES.EVENT.MANAGEMENT' | translate}}
        </h2>
        <p class="">{{'SERVICES.EVENT.MANAGEMENT_BODY' | translate}}</p>
      </div>
      <div class="col-md-6 wow fadeInRight d-flex justify-content-end order-0 order-md-1">
        <img src="./assets/images/common/service-event.svg"
          alt="">
      </div>
    </div>
  </div>
</section>
