.cooperation-slider .slider-item .top {
    position: relative;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 20px;
    padding-left: 20px
}

@media only screen and (min-width:1200px) {
    .cooperation-slider .slider-item .top {
        padding-left: 0
    }
}

.cooperation-slider .slider-item .top::after {
    content: "";
    display: inline-block;
    height: 10px;
    width: 10px;
    border: 2px solid #f20732;
    background-color: #fff;
    z-index: 2;
    position: absolute;
    bottom: -5px;
    left: 25px;
    -webkit-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s
}

.cooperation-slider .slick-current .top::after {
    background-color: #f20732
}

.cooperation-slider .slider-item .top p {
    font-size: 20px;
    color: #f20732;
    font-weight: 700
}

.cooperation-slider .slider-item .top p::before {
    content: ".";
    font-weight: 700
}

.cooperation-slider .slider-item .current {
    font-size: 40px
}

.cooperation-slider .slider-item .title {
    letter-spacing: -.050em;
    margin-bottom: 10px
}

.cooperation-slider .slider-item .lower {
    padding-top: 22px;
    padding-left: 20px;
    padding-right: 30px;
    text-align: justify
}

@media only screen and (min-width:1200px) {
    .cooperation-slider .slider-item .lower {
        padding-left: 0;
        padding-right: 100px
    }
}

.cooperation-slider .slick-track {
    padding-top: 5px;
    margin-left: 0
}

@media only screen and (min-width:1200px) {
    .cooperation-slider .slick-track {
        margin-left: -115px
    }
}

.cooperation-slider p:last-of-type {
    margin-bottom: 0
}