<section id="timeline"
  [lang]="lang"
  class="wow fadeIn">
  <div class="container">
    <div class="how-we-do-it text-center">
      <h6 class="text-primary fw-bolder wow fadeInDown">{{'TIMELINE.KNOW' | translate}}</h6>
      <h1 class="text-white fw-bolder wow fadeInDown">{{'TIMELINE.HOW_WE_DO_IT' | translate}}</h1>
      <p class="text-white col-md-4 mx-auto wow fadeInDown">Lorem Ipsum is simply dummy text of the printing and
        typesetting industry.
      </p>
    </div>
    <div class="timeline">
      <div class="container-time left wow fadeInLeft">
        <div class="content">
          <div class="d-flex align-items-center">
            <div class="icon">
              <img src="./assets/images/icons/objectives.svg"
                alt="objectives">
            </div>
            <h2 class="text-dark fw-bolder">{{'TIMELINE.OBJECTIVES' | translate}}</h2>
          </div>
          <p>{{'TIMELINE.OBJECTIVES_BODY' | translate}}
          </p>
        </div>
      </div>
      <div class="container-time right wow fadeInRight">
        <div class="content">
          <div class="d-flex align-items-center">
            <div class="icon">
              <img src="./assets/images/icons/audit.svg"
                alt="objectives">
            </div>
            <h2 class="text-dark fw-bolder">{{'TIMELINE.AUDIT' | translate}}</h2>
          </div>
          <p>{{'TIMELINE.AUDIT_BODY' | translate}}
          </p>
        </div>
      </div>
      <div class="container-time left wow fadeInLeft">
        <div class="content">
          <div class="d-flex align-items-center">
            <div class="icon">
              <img src="./assets/images/icons/research.svg"
                alt="objectives">
            </div>
            <h2 class="text-dark fw-bolder">{{'TIMELINE.RESEARCH' | translate}}</h2>
          </div>
          <p>{{'TIMELINE.RESEARCH_BODY' | translate}}
          </p>
        </div>
      </div>
      <div class="container-time right wow fadeInRight">
        <div class="content">
          <div class="d-flex align-items-center">
            <div class="icon">
              <img src="./assets/images/icons/strategy.svg"
                alt="objectives">
            </div>
            <h2 class="text-dark fw-bolder">{{'TIMELINE.STRATEGY' | translate}}</h2>
          </div>
          <p>{{'TIMELINE.STRATEGY_BODY' | translate}}
          </p>
        </div>
      </div>
      <div class="container-time left wow fadeInLeft">
        <div class="content">
          <div class="d-flex align-items-center">
            <div class="icon">
              <img src="./assets/images/icons/execution.svg"
                alt="objectives">
            </div>
            <h2 class="text-dark fw-bolder">{{'TIMELINE.EXECUTION' | translate}}</h2>
          </div>
          <p>{{'TIMELINE.EXECUTION_BODY' | translate}}
          </p>
        </div>
      </div>
      <div class="container-time right wow fadeInRight">
        <div class="content">
          <div class="d-flex align-items-center">
            <div class="icon">
              <img src="./assets/images/icons/mointoring.svg"
                alt="objectives">
            </div>
            <h2 class="text-dark fw-bolder">{{'TIMELINE.MONITORING' | translate}}</h2>
          </div>
          <p>{{'TIMELINE.MONITORING_BODY' | translate}}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
