<!-- <section id="timeline"
  [lang]="lang"
  class="wow fadeIn">
  <div class="container">
    <div class="how-we-do-it text-center">
      <h6 class="text-primary fw-bolder wow fadeInDown">{{'TIMELINE.KNOW' | translate}}</h6>
      <h1 class="text-white fw-bolder wow fadeInDown">{{'TIMELINE.HOW_WE_DO_IT' | translate}}</h1>
      <p class="text-white col-md-4 mx-auto wow fadeInDown">Lorem Ipsum is simply dummy text of the printing and
        typesetting industry.
      </p>
    </div>
    <div class="timeline">
      <div class="container-time left wow fadeInLeft">
        <div class="content">
          <div class="d-flex align-items-center">
            <div class="icon">
              <img src="./assets/images/icons/objectives.svg"
                alt="objectives">
            </div>
            <h2 class="text-dark fw-bolder">{{'TIMELINE.OBJECTIVES' | translate}}</h2>
          </div>
          <p>{{'TIMELINE.OBJECTIVES_BODY' | translate}}
          </p>
        </div>
      </div>
      <div class="container-time right wow fadeInRight">
        <div class="content">
          <div class="d-flex align-items-center">
            <div class="icon">
              <img src="./assets/images/icons/audit.svg"
                alt="objectives">
            </div>
            <h2 class="text-dark fw-bolder">{{'TIMELINE.AUDIT' | translate}}</h2>
          </div>
          <p>{{'TIMELINE.AUDIT_BODY' | translate}}
          </p>
        </div>
      </div>
      <div class="container-time left wow fadeInLeft">
        <div class="content">
          <div class="d-flex align-items-center">
            <div class="icon">
              <img src="./assets/images/icons/research.svg"
                alt="objectives">
            </div>
            <h2 class="text-dark fw-bolder">{{'TIMELINE.RESEARCH' | translate}}</h2>
          </div>
          <p>{{'TIMELINE.RESEARCH_BODY' | translate}}
          </p>
        </div>
      </div>
      <div class="container-time right wow fadeInRight">
        <div class="content">
          <div class="d-flex align-items-center">
            <div class="icon">
              <img src="./assets/images/icons/strategy.svg"
                alt="objectives">
            </div>
            <h2 class="text-dark fw-bolder">{{'TIMELINE.STRATEGY' | translate}}</h2>
          </div>
          <p>{{'TIMELINE.STRATEGY_BODY' | translate}}
          </p>
        </div>
      </div>
      <div class="container-time left wow fadeInLeft">
        <div class="content">
          <div class="d-flex align-items-center">
            <div class="icon">
              <img src="./assets/images/icons/execution.svg"
                alt="objectives">
            </div>
            <h2 class="text-dark fw-bolder">{{'TIMELINE.EXECUTION' | translate}}</h2>
          </div>
          <p>{{'TIMELINE.EXECUTION_BODY' | translate}}
          </p>
        </div>
      </div>
      <div class="container-time right wow fadeInRight">
        <div class="content">
          <div class="d-flex align-items-center">
            <div class="icon">
              <img src="./assets/images/icons/mointoring.svg"
                alt="objectives">
            </div>
            <h2 class="text-dark fw-bolder">{{'TIMELINE.MONITORING' | translate}}</h2>
          </div>
          <p>{{'TIMELINE.MONITORING_BODY' | translate}}
          </p>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="section cooperation">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="heading primary-heading">
          <h3 class="title">Steps of cooperation</h3>
          <h5 class="subtitle"><span>How</span> <span>We work</span></h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-12">
      <!-- cooperation slider start-->
      <div class="cooperation-slider">
        <!-- item start-->
        <div class="slider-item">
          <div class="top">
            <p><span class="current">01</span> / <span class="total">06</span></p>
          </div>
          <div class="lower">
            <h4 class="title">Enviroment Analitic</h4>
            <p>Streamer fish California halibut Pacific saury. Slickhead grunion lake trout.
              Canthigaster rostrata spikefish</p>
          </div>
        </div>
        <!-- item end -->
        <!-- item start-->
        <div class="slider-item">
          <div class="top">
            <p><span class="current">02</span> / <span class="total">06</span></p>
          </div>
          <div class="lower">
            <h4 class="title">Preparing Documentation</h4>
            <p>Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach
              summer flounder </p>
          </div>
        </div>
        <!-- item end-->
        <!-- item start-->
        <div class="slider-item">
          <div class="top">
            <p><span class="current">03</span> / <span class="total">06</span></p>
          </div>
          <div class="lower">
            <h4 class="title">Equipment Installation</h4>
            <p>Canthigaster rostrata spikefish brown trout loach summer flounder European minnow
              black dragonfish</p>
          </div>
        </div>
        <!-- item end-->
        <!-- item start-->
        <div class="slider-item">
          <div class="top">
            <p><span class="current">04</span> / <span class="total">06</span></p>
          </div>
          <div class="lower">
            <h4 class="title">Technical Support</h4>
            <p>European minnow black dragonfish orbicular batfish stingray tenpounder! Flying
              characin: herring, Moses sole </p>
          </div>
        </div>
        <!-- item end-->
        <!-- item start-->
        <div class="slider-item">
          <div class="top">
            <p><span class="current">05</span> / <span class="total">06</span></p>
          </div>
          <div class="lower">
            <h4 class="title">Payment Method </h4>
            <p>Flying characin: herring, Moses sole sea snail grouper discus. European eel
              slender snipe eel. Gulper eel dealfish</p>
          </div>
        </div>
        <!-- item end-->
        <!-- item start-->
        <div class="slider-item">
          <div class="top">
            <p><span class="current">06</span> / <span class="total">06</span></p>
          </div>
          <div class="lower">
            <h4 class="title">Enviroment Analitic</h4>
            <p>Streamer fish California halibut Pacific saury. Slickhead grunion lake trout.
              Canthigaster rostrata spikefish</p>
          </div>
        </div>
        <!-- item end-->
      </div>
      <!-- cooperation slider end-->
    </div>
  </div>
</section>