<div class="services-wrapper-media">
  <section id="media"
    class="wow fadeIn">
    <div class="container">
      <div class="row mx-auto w-100">
        <div class="col-md-6 wow fadeInLeft">
          <img src="./assets/images/common/media.svg"
            alt="media"
            class="main-img">
        </div>
        <div class="col-md-6 wow fadeInRight">
          <div class="service-info">
            <img src="./assets/images/icons/media.svg"
              alt="media  ">
            <h3>{{'SERVICES.MEDIA.PRODUCTION' | translate}}
            </h3>
            <p class="col-md-9">{{'SERVICES.MEDIA.PRODUCTION_BODY' | translate}}
            </p>
            <ul>
              <li><span>{{'SERVICES.MEDIA.MEDIA_sTEPS.STEP1' | translate}}</span></li>
              <li><span>{{'SERVICES.MEDIA.MEDIA_sTEPS.STEP2' | translate}}</span></li>
              <li><span>{{'SERVICES.MEDIA.MEDIA_sTEPS.STEP3' | translate}}</span></li>
              <li><span>{{'SERVICES.MEDIA.MEDIA_sTEPS.STEP4' | translate}}</span></li>
              <li><span>{{'SERVICES.MEDIA.MEDIA_sTEPS.STEP5' | translate}}</span></li>
            </ul>
            <button class="btn"
              routerLink="/services/media">{{'HERO.BUTTON' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
