<div class="services-wrapper-event">
  <section id="event"
    class="wow fadeIn">
    <div class="container">
      <div class="row mx-auto w-100">
        <div class="col-md-6 wow fadeInLeft">
          <div class="service-info">
            <img src="./assets/images/icons/event.svg"
              alt="event">
            <h3>{{'SERVICES.EVENT.MANAGEMENT' | translate}}
            </h3>
            <p class="col-md-9">{{'SERVICES.EVENT.MANAGEMENT_BODY' | translate}}
            </p>
            <ul>
              <li><span>{{'HOME_SERVICE_EVENT.STEPS.STEP1' | translate}}</span></li>
              <li><span>{{'HOME_SERVICE_EVENT.STEPS.STEP2' | translate}}</span></li>
              <li><span>{{'HOME_SERVICE_EVENT.STEPS.STEP3' | translate}}</span></li>
            </ul>
            <button class="btn"
              routerLink="/services/events">{{'HERO.BUTTON' | translate}}</button>
          </div>
        </div>
        <div class="col-md-6 wow fadeInRight">
          <img src="./assets/images/common/event.svg"
            alt="event"
            class="main-img">
        </div>
      </div>
    </div>

  </section>
</div>
