#service-content {
  padding-bottom: 218px;
  h2 {
    line-height: 140%;
    font-size: 42px;
    margin-top: 80px;
    margin-bottom: 40px;
  }
  h4 {
    font-size: 24px;
    margin-bottom: 8px;
  }
  ul {
    margin-top: 24px;
    li {
      line-height: 220%;
      span {
        font-weight: 600;
      }
    }
  }
  img {
    margin-top: 156px;
  }
}
