<section id="service"
  class="wow fadeIn">
  <div class="container">
    <div class="row w-100 mx-0 align-items-start">
      <div class="col-md-6 wow fadeInLeft order-1 order-md-0">
        <h2 class="text-primary fw-bolder">{{'SERVICES.DESIGN.DESIGN_TITLE' | translate}}
        </h2>
        <p class="">{{'SERVICES.DESIGN.DESIGN_BODY' | translate}}</p>
        <h4>{{'SERVICES.DESIGN.GRAPHIC' | translate}}</h4>
        <p>{{'SERVICES.DESIGN.GRAPHIC_BODY' | translate}}</p>
        <ul>
          <li><span>{{'SERVICES.DESIGN.GRAPHIC_STEPS.STEP1' | translate}}</span></li>
          <li><span>{{'SERVICES.DESIGN.GRAPHIC_STEPS.STEP2' | translate}}</span></li>
          <li><span>{{'SERVICES.DESIGN.GRAPHIC_STEPS.STEP3' | translate}}</span></li>
          <li><span>{{'SERVICES.DESIGN.GRAPHIC_STEPS.STEP4' | translate}}</span></li>
          <li><span>{{'SERVICES.DESIGN.GRAPHIC_STEPS.STEP5' | translate}}</span></li>
          <li><span>{{'SERVICES.DESIGN.GRAPHIC_STEPS.STEP6' | translate}}</span></li>
          <li><span>{{'SERVICES.DESIGN.GRAPHIC_STEPS.STEP7' | translate}}</span></li>
          <li><span>{{'SERVICES.DESIGN.GRAPHIC_STEPS.STEP8' | translate}}</span></li>
          <li><span>{{'SERVICES.DESIGN.GRAPHIC_STEPS.STEP9' | translate}}</span></li>
          <li><span>{{'SERVICES.DESIGN.GRAPHIC_STEPS.STEP10' | translate}}</span></li>
          <li><span>{{'SERVICES.DESIGN.GRAPHIC_STEPS.STEP11' | translate}}</span></li>
        </ul>
        <h4>{{'SERVICES.DESIGN.BRANDING' | translate}}</h4>
        <p>{{'SERVICES.DESIGN.BRANDING_BODY' | translate}}</p>
        <ul>
          <li><span>{{'SERVICES.DESIGN.BRANDING_STEPS.STEP1' | translate}}</span></li>
          <li><span>{{'SERVICES.DESIGN.BRANDING_STEPS.STEP2' | translate}}</span></li>
          <li><span>{{'SERVICES.DESIGN.BRANDING_STEPS.STEP3' | translate}}</span></li>
          <li><span>{{'SERVICES.DESIGN.BRANDING_STEPS.STEP4' | translate}}</span></li>
          <li><span>{{'SERVICES.DESIGN.BRANDING_STEPS.STEP5' | translate}}</span></li>
          <li><span>{{'SERVICES.DESIGN.BRANDING_STEPS.STEP6' | translate}}</span></li>
          <li><span>{{'SERVICES.DESIGN.BRANDING_STEPS.STEP7' | translate}}</span></li>
        </ul>
      </div>
      <div class="col-md-6 wow fadeInRight d-flex justify-content-end order-0 order-md-1">
        <img src="./assets/images/common/service-design.svg"
          alt="">
      </div>
    </div>
  </div>
</section>
