<div class="services-wrapper-technology">
  <section id="technology"
    class="wow fadeIn">
    <div class="container">
      <div class="row mx-auto w-100">
        <div class="col-md-6 wow fadeInLeft">
          <div class="
          service-info">
            <img src="./assets/images/icons/technology.svg"
              alt="technology">
            <h3>{{'SERVICES.TECHNOLOGY.DEVELOPMENT' | translate}}
            </h3>
            <p class="col-md-9">{{'SERVICES.TECHNOLOGY.DEVELOPMENT_BODY' | translate}}
            </p>
            <ul>
              <li><span>{{'HOME_SERVICE_TECHNOLOGY.STEPS.STEP1' | translate }}</span></li>
              <li><span>{{'HOME_SERVICE_TECHNOLOGY.STEPS.STEP2' | translate }}</span></li>
              <li><span>{{'HOME_SERVICE_TECHNOLOGY.STEPS.STEP3' | translate }}</span></li>
              <li><span>{{'HOME_SERVICE_TECHNOLOGY.STEPS.STEP4' | translate }}</span></li>
              <li><span>{{'HOME_SERVICE_TECHNOLOGY.STEPS.STEP5' | translate }}</span></li>
              <li><span>{{'HOME_SERVICE_TECHNOLOGY.STEPS.STEP6' | translate }}</span></li>
              <li><span>{{'HOME_SERVICE_TECHNOLOGY.STEPS.STEP7' | translate }}</span></li>
            </ul>
            <button class="btn"
              routerLink="/services/technology">{{'HERO.BUTTON' | translate }}</button>
          </div>
        </div>
        <div class="col-md-6 wow fadeInRight">
          <img src="./assets/images/common/technology.svg"
            alt="technology"
            class="main-img">
        </div>
      </div>
    </div>
  </section>
</div>
