<section id="services" [lang]="lang" [dir]="lang == 'en' ? 'ltr': 'rtl'" class="wow fadeIn">
    <div class="container">
        <div class="services text-center">
            <h6 class="text-primary fw-bolder wow fadeInDown">{{'HERO.EXPLORE' | translate}} </h6>
            <h1 class="text-dark fw-bolder wow fadeInDown">{{'HOME_SERVICE_COMMUNICATION.TITLE' | translate}}</h1>
            <p class="col-md-5 mx-auto wow fadeInDown">{{'HOME_SERVICE_COMMUNICATION.SUB_TITLE' | translate}}
            </p>
        </div>
    </div>
    <app-communication [lang]="lang"></app-communication>
    <!-- <app-brand></app-brand>
    <app-technology></app-technology>
    <app-content></app-content>
    <app-design></app-design>
    <app-media></app-media>
    <app-event></app-event>
    <app-reporting></app-reporting> -->

</section>