<div class="services-wrapper-brand">
  <section id="brand"
    class="wow fadeIn">
    <div class="container">
      <div class="row mx-auto w-100">
        <div class="col-md-6 wow fadeInLeft">
          <img src="
          ./assets/images/common/brand.svg"
            alt="brand"
            class="main-img">
        </div>
        <div class="col-md-6 wow fadeInRight">

          <div class="
          service-info">
            <img src="./assets/images/icons/brand.svg"
              alt="brand">
            <h3>{{"SERVICES.BRANDS.BRAND_BUILDING" | translate }}
            </h3>
            <p class="col-md-9">{{"SERVICES.BRANDS.BRAND_BUILDING_BODY" | translate }}
            </p>
            <ul>
              <li><span>{{"HOME_SERVICE_BRANDS.STEPS.STEP1" | translate }}</span></li>
              <li><span>{{"HOME_SERVICE_BRANDS.STEPS.STEP2" | translate }}</span></li>
              <li><span>{{"HOME_SERVICE_BRANDS.STEPS.STEP3" | translate }}</span></li>
              <li><span>{{"HOME_SERVICE_BRANDS.STEPS.STEP4" | translate }}</span></li>
            </ul>
            <button class="btn"
              routerLink="/services/brands">{{'HERO.BUTTON' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
