@import "./assets/css/slick.css";
@import "./assets/css/styles.min.css";

.page-wrapper {
    width: 100vw;
    align-items: center;
}

.container {
    margin-right: auto;
}

.map-container {
    width: 100% !important;
    height: 90vh !important;
}