<div class="services-wrapper-design">
  <section id="design"
    class="wow fadeIn">
    <div class="container">
      <div class="row mx-auto w-100">
        <div class="col-md-6 wow fadeInLeft">
          <div class="service-info">
            <img src="./assets/images/icons/design.svg"
              alt="design">
            <h3>{{'SERVICES.DESIGN.DESIGN_TITLE' | translate }}
            </h3>
            <p class="col-md-9">{{'SERVICES.DESIGN.DESIGN_BODY' | translate }}
            </p>
            <ul>
              <li><span>{{'SERVICES.DESIGN.GRAPHIC' | translate }}</span></li>
              <li><span>{{'SERVICES.DESIGN.BRANDING' | translate }}</span></li>
            </ul>
            <button class="btn"
              routerLink="/services/design">{{'HERO.BUTTON' | translate}}</button>
          </div>
        </div>
        <div class="col-md-6 wow fadeInRight">
          <img src="
                  ./assets/images/common/design.svg"
            alt="design"
            class="main-img">
        </div>
      </div>
    </div>
  </section>
</div>
