<section id="service"
  class="wow fadeIn">
  <div class="container">
    <div class="row w-100 mx-0 align-items-start">
      <div class="col-md-6 wow fadeInLeft order-1 order-md-0">
        <h2 class="text-primary fw-bolder">{{'SERVICES.REPORTING.ANALYSIS' | translate}}
        </h2>
        <p class="">{{'SERVICES.REPORTING.ANALYSIS_BODY ' | translate}}</p>
        <h4>{{'SERVICES.REPORTING.BUSINESS' | translate}}</h4>
        <p>{{'SERVICES.REPORTING.BUSINESS_BODY' | translate}}</p>
        <h4>{{'SERVICES.REPORTING.MEDIA' | translate}}</h4>
        <p>{{'SERVICES.REPORTING.MEDIA_BODY' | translate}}</p>
        <h4>{{'SERVICES.REPORTING.NEWS' | translate}}</h4>
        <p>{{'SERVICES.REPORTING.NEWS_BODY' | translate}}</p>
      </div>
      <div class="col-md-6 wow fadeInRight d-flex justify-content-end order-0 order-md-1">
        <img src="./assets/images/common/service-reporting.svg"
          alt="">
      </div>
    </div>
  </div>
</section>
