<section id="clients" [lang]="lang" [dir]="lang == 'en' ? 'ltr': 'rtl'" class="wow fadeIn">
    <div class="container">
        <div class="our-clients text-center">
            <h6 class="text-primary fw-bolder wow fadeInDown">{{'CLIENTS.KNOW' | translate}}</h6>
            <h1 class="text-dark fw-bolder wow fadeInDown">{{'CLIENTS.CLIENTS' | translate}}</h1>
        </div>
        <div class="clients w-100 my-4">
          
                <div class=" d-flex  gap-4 align-items-center " >
                    <div class="card" *ngFor="let partner of partners">
                        <div class="card-img">
                            <img [src]="partner.path" alt="clients">
                        </div>
                       
                    </div>
                </div>
           
        </div>
    </div>
</section>